.card {
  width: calc(20% - 20px);
  padding: 10px;
}

@media (max-width: 1200px) {
  .card {
    width: calc(25% - 20px);
  }
}
@media (max-width: 900px) {
  .card {
    width: calc(33% - 20px);
  }
}

@media (max-width: 750px) {
  .card {
    width: 100%;
  }
}
