.content {
  background: white;
  position: absolute;
  margin: 5%;
  outline: none;
  width: 90%;
}
.modal {
  overflow: auto;
}
.spinner {
  text-align: center;
  margin-top: 45vh;
  outline: none;
}
